{% extends 'layout.html' %}
{% set title = 'Iris Home' %}
{% block content %}
    <br>
    <div class="card" style="width: 20rem;">
    <div class="card-body">
    <h5 class="card-title">Predict the Iris species</h5>
    <p class="card-text">Enter the values for the petal and sepal lenth and width.</p>
        <form method="POST" class="form">
            {{ form.csrf_token }}
            <div class="form-group mx-sm-3 mb-2">
                {{ form.sepal_length.label }}
                {{ form.sepal_length(class="form-control") }}
                {% if form.sepal_length.errors %}
                    <ul class="text-warning">
                        {% for error in form.sepal_length.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-group mx-sm-3 mb-2">
                {{ form.sepal_width.label }}
                {{ form.sepal_width(class="form-control") }}
                {% if form.sepal_width.errors %}
                    <ul class="text-warning">
                        {% for error in form.sepal_width.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-group mx-sm-3 mb-2">
                {{ form.petal_length.label }}
                {{ form.petal_length(class="form-control") }}
                {% if form.petal_length.errors %}
                    <ul class="text-warning">
                        {% for error in form.petal_length.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-group mx-sm-3 mb-2">
                {{ form.petal_width.label }}
                {{ form.petal_width(size=6, class="form-control") }}
                {% if form.petal_width.errors %}
                    <ul class="text-warning">
                        {% for error in form.petal_width.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <br>
            <div class="mx-sm-3 mb-2">
                <input id="btn-predict" type="submit" value="Predict" class="btn btn-primary">
            </div>
            <br>
        </form>
    </div>
    </div>
    <br>
    <p id="prediction-text">{{ prediction_text }}</p>

{% endblock %}